In [1]:
import pandas as pd

In [2]:
_map = {
    "\U00010C00": "\U00010C00",
    "\U00010C01": "\U00010C00",
    "\U00010C02": "\U00010C02",
    "\U00010C03": "\U00010C03",
    "\U00010C04": "\U00010C03",
    "\U00010C05": "\U00010C05",
    "\U00010C06": "\U00010C06",
    "\U00010C07": "\U00010C07",
    "\U00010C08": "\U00010C07",
    "\U00010C09": "\U00010C09",
    "\U00010C0A": "\U00010C09",
    "\U00010C0B": "\U00010C0B",
    "\U00010C0C": "\U00010C0B",
    "\U00010C0D": "\U00010C0D",
    "\U00010C0E": "\U00010C0D",
    "\U00010C0F": "\U00010C0F",
    "\U00010C10": "\U00010C0F",
    "\U00010C11": "\U00010C11",
    "\U00010C12": "\U00010C11",
    "\U00010C13": "\U00010C13",
    "\U00010C14": "\U00010C14",
    "\U00010C15": "\U00010C14",
    "\U00010C16": "\U00010C16",
    "\U00010C17": "\U00010C16",
    "\U00010C18": "\U00010C18",
    "\U00010C19": "\U00010C18",
    "\U00010C1A": "\U00010C1A",
    "\U00010C1B": "\U00010C1A",
    "\U00010C1C": "\U00010C1C",
    "\U00010C1D": "\U00010C1C",
    "\U00010C1E": "\U00010C1E",
    "\U00010C1F": "\U00010C1E",
    "\U00010C20": "\U00010C20",
    "\U00010C21": "\U00010C21",
    "\U00010C22": "\U00010C22",
    "\U00010C23": "\U00010C23",
    "\U00010C24": "\U00010C24",
    "\U00010C25": "\U00010C24",
    "\U00010C26": "\U00010C26",
    "\U00010C27": "\U00010C26",
    "\U00010C28": "\U00010C28",
    "\U00010C29": "\U00010C28",
    "\U00010C2A": "\U00010C2A",
    "\U00010C2B": "\U00010C2A",
    "\U00010C2D": "\U00010C2D",
    "\U00010C2C": "\U00010C2C",
    "\U00010C2E": "\U00010C2D",
    "\U00010C2F": "\U00010C2F",
    "\U00010C30": "\U00010C30",
    "\U00010C31": "\U00010C31",
    "\U00010C32": "\U00010C32",
    "\U00010C33": "\U00010C32",
    "\U00010C34": "\U00010C34",
    "\U00010C35": "\U00010C34",
    "\U00010C36": "\U00010C36",
    "\U00010C37": "\U00010C36",
    "\U00010C38": "\U00010C38",
    "\U00010C39": "\U00010C38",
    "\U00010C3A": "\U00010C3A",
    "\U00010C3B": "\U00010C3A",
    "\U00010C3C": "\U00010C3C",
    "\U00010C3D": "\U00010C3D",
    "\U00010C3E": "\U00010C3E",
    "\U00010C3F": "\U00010C3F",
    "\U00010C40": "\U00010C3F",
    "\U00010C41": "\U00010C41",
    "\U00010C42": "\U00010C41",
    "\U00010C43": "\U00010C43",
    "\U00010C44": "\U00010C43",
    "\U00010C45": "\U00010C45",
    "\U00010C46": "\U00010C45",
    "\U00010C47": "\U00010C47",
    "\U00010C48": "\U00010C48",
    "\U0000003A": "\U0000003A",
}
def _normal(_input: str) -> str:
  _value = ""
  for _character in _input:
    _encode = [int(_code) for _code in _character.encode("utf-8")]
    _colon = len(_encode) == 1
    _colon = _colon and _encode[0] == 58
    _tyrk = len(_encode) == 4
    _tyrk = _tyrk and _encode[0] == 240
    _tyrk = _tyrk and _encode[1] == 144
    _tyrk = _tyrk and (_encode[2] == 176 or _encode[2] == 177)
    if _character in _map:
      _value = _value + _map[_character]
  return _value

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mehmetoguzderin/tonqq-tsv/main/tonqq.tsv", sep="\t", header=0, index_col=0)
df.index = df.index + 1
df['text'] = df['text'].apply(lambda i: _normal(i))
df['stela'] = df['stela'].apply(lambda i: i + 1)
df['face'] = df['face'].apply(lambda i: i + 1)
df['line'] = df['line'].apply(lambda i: i + 1)
df = df.rename_axis('id')
df

    stela  face  line                                               text
id
1       1     1     1  :蔼案案:挨阿:安碍:岸唉阿:凹埃:安...
2       1     1     2  凹埃:按埃挨阿挨:安:昂啊:按埃唉:按埃挨案隘...
3       1     1     3  按埃碍挨:案隘:安碍:安安挨:碍凹:阿熬凹皑:凹埃...
4       1     1     4  按阿::按阿熬:案昂埃隘:啊:...
5       1     1     5  阿::凹::阿熬挨凹阿:蔼案案...
6       1     1     6  熬凹:熬阿案:昂案案挨:阿凹阿熬挨:皑熬按唉阿:唉...
7       1     1     7  凹:凹熬按埃:埃:凹:安:碍凹:按蔼:昂...

In [4]:
df.to_csv("tonqq_text.csv")

In [5]:
for i, j in _map.items():
    print(f"A: {i}, B: {j}")

A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: 啊, B: 啊
A: 阿, B: 阿
A: 埃, B: 埃
A: 挨, B: 挨
A: 哎, B: 挨
A: 唉, B: 唉
A: 哀, B: 唉
A: 皑, B: 皑
A: 癌, B: 皑
A: 蔼, B: 蔼
A: 矮, B: 蔼
A: 碍, B: 碍
A: 艾, B: 艾
A: 爱, B: 碍
A: 隘, B: 隘
A: 鞍, B: 鞍
A: 氨, B: 氨
A: 安, B: 安
A: 俺, B: 安
A: 按, B: 按
A: 暗, B: 按
A: 岸, B: 岸
A: 胺, B: 岸
A: 案, B: 案
A: 肮, B: 案
A: 昂, B: 昂
A: 盎, B: 昂
A: 凹, B: 凹
A: 敖, B: 敖
A: 熬, B: 熬
A: 翱, B: 翱
A: , B: 翱
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: , B:
A: :, B: :

In [6]:
#0x10C00 0x10C48
for i in range(0x10C00, 0x10C48 + 1):
    if chr(i) not in _map:
        print(hex(i))
        print(chr(i))

In [7]:
_pdf_table = """OLD TURKIC LETTER ORKHON A OLD TURKIC LETTER YENISEI A OLD TURKIC LETTER YENISEI AE OLD TURKIC LETTER ORKHON I OLD TURKIC LETTER YENISEI I OLD TURKIC LETTER YENISEI E OLD TURKIC LETTER ORKHON O OLD TURKIC LETTER ORKHON OE OLD TURKIC LETTER YENISEI OE OLD TURKIC LETTER YENISEI AR OLD TURKIC LETTER ORKHON AER OLD TURKIC LETTER ORKHON AS OLD TURKIC LETTER ORKHON AES OLD TURKIC LETTER ORKHON ASH OLD TURKIC LETTER YENISEI ASH OLD TURKIC LETTER ORKHON ESH OLD TURKIC LETTER YENISEI ESH OLD TURKIC LETTER ORKHON AT OLD TURKIC LETTER YENISEI AT OLD TURKIC LETTER ORKHON AET OLD TURKIC LETTER YENISEI AET OLD TURKIC LETTER ORKHON OT OLD TURKIC LETTER ORKHON BASH OLD TURKIC LETTER ORKHON AB OLD TURKIC LETTER YENISEI AB OLD TURKIC LETTER ORKHON AEB OLD TURKIC LETTER YENISEI AEB OLD TURKIC LETTER ORKHON AG OLD TURKIC LETTER YENISEI AG OLD TURKIC LETTER ORKHON AEG OLD TURKIC LETTER YENISEI AEG OLD TURKIC LETTER ORKHON AD OLD TURKIC LETTER YENISEI AD OLD TURKIC LETTER ORKHON AED OLD TURKIC LETTER ORKHON EZ OLD TURKIC LETTER YENISEI EZ OLD TURKIC LETTER ORKHON AY OLD TURKIC LETTER YENISEI AY OLD TURKIC LETTER ORKHON AEY OLD TURKIC LETTER YENISEI AEY OLD TURKIC LETTER ORKHON AEK OLD TURKIC LETTER YENISEI AEK OLD TURKIC LETTER ORKHON OEK OLD TURKIC LETTER YENISEI OEK OLD TURKIC LETTER ORKHON AL OLD TURKIC LETTER YENISEI AL OLD TURKIC LETTER ORKHON AEL OLD TURKIC LETTER ORKHON ELT OLD TURKIC LETTER ORKHON EM OLD TURKIC LETTER ORKHON AN OLD TURKIC LETTER ORKHON AEN OLD TURKIC LETTER YENISEI AEN OLD TURKIC LETTER ORKHON ENT OLD TURKIC LETTER YENISEI ENT OLD TURKIC LETTER ORKHON ENC OLD TURKIC LETTER YENISEI ENC OLD TURKIC LETTER ORKHON ENY OLD TURKIC LETTER YENISEI ENY OLD TURKIC LETTER YENISEI ANG OLD TURKIC LETTER ORKHON ENG OLD TURKIC LETTER YENISEI AENG OLD TURKIC LETTER ORKHON EP OLD TURKIC LETTER ORKHON OP OLD TURKIC LETTER ORKHON IC OLD TURKIC LETTER ORKHON EC OLD TURKIC LETTER YENISEI EC OLD TURKIC LETTER ORKHON AQ OLD TURKIC LETTER YENISEI AQ OLD TURKIC LETTER ORKHON IQ OLD TURKIC LETTER YENISEI IQ OLD TURKIC LETTER ORKHON OQ OLD TURKIC LETTER YENISEI OQ OLD TURKIC LETTER ORKHON AR"""

In [8]:
_table = [x.strip() for x in _pdf_table.strip().split("OLD TURKIC LETTER") if len(x.strip()) > 0]
_table

['ORKHON A',
 'YENISEI A',
 'YENISEI AE',
 'ORKHON I',
 'YENISEI I',
 'YENISEI E',
 'ORKHON O',
 'ORKHON OE',
 'YENISEI OE',
 'YENISEI AR',
 'ORKHON AER',
 'ORKHON AS',
 'ORKHON AES',
 'ORKHON ASH',
 'YENISEI ASH',
 'ORKHON ESH',
 'YENISEI ESH',
 'ORKHON AT',
 'YENISEI AT',
 'ORKHON AET',
 'YENISEI AET',
 'ORKHON OT',
 'ORKHON BASH',
 'ORKHON AB',
 'YENISEI AB',
 'ORKHON AEB',
 'YENISEI AEB',
 'ORKHON AG',
 'YENISEI AG',
 'ORKHON AEG',
 'YENISEI AEG',
 'ORKHON AD',
 'YENISEI AD',
 'ORKHON AED',
 'ORKHON EZ',
 'YENISEI EZ',
 'ORKHON AY',
 'YENISEI AY',
 'ORKHON AEY',
 'YENISEI AEY',
 'ORKHON AEK',
 'YENISEI AEK',
 'ORKHON OEK',
 'YENISEI OEK',
 'ORKHON AL',
 'YENISEI AL',
 'ORKHON AEL',
 'ORKHON ELT',
 'ORKHON EM',
 'ORKHON AN',
 'ORKHON AEN',
 'YENISEI AEN',
 'ORKHON ENT',
 'YENISEI ENT',
 'ORKHON ENC',
 'YENISEI ENC',
 'ORKHON ENY',
 'YENISEI ENY',
 'YENISEI ANG',
 'ORKHON ENG',
 'YENISEI AENG',
 'ORKHON EP',
 'ORKHON OP',
 'ORKHON IC',
 'ORKHON EC',
 'YENISEI EC',
 'ORKHON AQ',
 'YENISEI AQ',
 'ORKHON IQ',
 'YENISEI IQ',
 'ORKHON OQ',
 'YENISEI OQ',
 'ORKHON AR']

In [9]:
_table_map = {}
for i in _table:
    _repr = i.split()[1]
    if _repr in _table_map:
        _table_map[_repr].append(i)
    else:
        _table_map[_repr] = [i]
_table_map

{'A': ['ORKHON A', 'YENISEI A'],
 'AE': ['YENISEI AE'],
 'I': ['ORKHON I', 'YENISEI I'],
 'E': ['YENISEI E'],
 'O': ['ORKHON O'],
 'OE': ['ORKHON OE', 'YENISEI OE'],
 'AR': ['YENISEI AR', 'ORKHON AR'],
 'AER': ['ORKHON AER'],
 'AS': ['ORKHON AS'],
 'AES': ['ORKHON AES'],
 'ASH': ['ORKHON ASH', 'YENISEI ASH'],
 'ESH': ['ORKHON ESH', 'YENISEI ESH'],
 'AT': ['ORKHON AT', 'YENISEI AT'],
 'AET': ['ORKHON AET', 'YENISEI AET'],
 'OT': ['ORKHON OT'],
 'BASH': ['ORKHON BASH'],
 'AB': ['ORKHON AB', 'YENISEI AB'],
 'AEB': ['ORKHON AEB', 'YENISEI AEB'],
 'AG': ['ORKHON AG', 'YENISEI AG'],
 'AEG': ['ORKHON AEG', 'YENISEI AEG'],
 'AD': ['ORKHON AD', 'YENISEI AD'],
 'AED': ['ORKHON AED'],
 'EZ': ['ORKHON EZ', 'YENISEI EZ'],
 'AY': ['ORKHON AY', 'YENISEI AY'],
 'AEY': ['ORKHON AEY', 'YENISEI AEY'],
 'AEK': ['ORKHON AEK', 'YENISEI AEK'],
 'OEK': ['ORKHON OEK', 'YENISEI OEK'],
 'AL': ['ORKHON AL', 'YENISEI AL'],
 'AEL': ['ORKHON AEL'],
 'ELT': ['ORKHON ELT'],
 'EM': ['ORKHON EM'],
 'AN': ['ORKHON AN'],
 'AEN': ['ORKHON AEN', 'YENISEI AEN'],
 'ENT': ['ORKHON ENT', 'YENISEI ENT'],
 'ENC': ['ORKHON ENC', 'YENISEI ENC'],
 'ENY': ['ORKHON ENY', 'YENISEI ENY'],
 'ANG': ['YENISEI ANG'],
 'ENG': ['ORKHON ENG'],
 'AENG': ['YENISEI AENG'],
 'EP': ['ORKHON EP'],
 'OP': ['ORKHON OP'],
 'IC': ['ORKHON IC'],
 'EC': ['ORKHON EC', 'YENISEI EC'],
 'AQ': ['ORKHON AQ', 'YENISEI AQ'],
 'IQ': ['ORKHON IQ', 'YENISEI IQ'],
 'OQ': ['ORKHON OQ', 'YENISEI OQ']}